*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    animation: BodyRotation linear 6s infinite;
}

.sky{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    
}
.car{
    height: 100px;
    width: 380px;
    background-image: url("car_body.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 777px;
    bottom:10vh;
    animation: CarRtoation linear 3s infinite;
}
.trees{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-image: url('trees.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.track{
    height: 20vh;
    width: 800vw;
    position: absolute;
    background-image: url('track.png');
    background-repeat: repeat-x;
    /* background-size: cover; */
    top: 90vh;
    animation: trackRotation linear 13s infinite;
}

.wheel1 img{
    width: 77px;
    position: relative;
    top: 43px;
    left: 43px;
    animation: wheelRotation linear .16s infinite;
}
.wheel2 img{
    width: 77px;
    position: relative;
    top: -40px;
    left: 240px;
    animation: wheelRotation linear .16s infinite;
}

@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes trackRotation
{
    100%{
        transform: translate(-400vw);
    }
}

@keyframes CarRtoation
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@keyframes BodyRotation
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}

